BasedOnStyle: Microsoft
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignTrailingComments: true
SpaceAfterOperatorKeyword: true
BreakConstructorInitializers: BeforeComma
# ReferenceAlignment: Left
# PointerAlignment: Left
